.random{
    padding: 0px;
}

h1{
    padding-left: 200px;
}

.change_color{
    color:purple;
    background-color:rgb(0, 255, 132);
}
.color_change{
    color: yellow;
}

h2{
    margin: 0px;
}

body{
    background-color: cornflowerblue;
}

